@{
    var faviconUrl = Url.Content("~/developers/template/JsonAwesome/logo.png");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="@faviconUrl">
    <title>Eatup | Json Viewer</title>
    <link href="~/developers/template/JsonAwesome/main.css" rel="stylesheet" type="text/css">
    <script>
        var faviconUrl = '@faviconUrl';
    </script>
</head>
<body>
<script src="~/developers/template/JsonAwesome/main.js"></script>
</body>
</html>